@import "colors";
@import "mixins";

@function double($a) {
  @return ($a * 2);
}

body {
  /* background-color: darken($bg-color, 15%); */
  /* background-color: lighten($bg-color, 15%); */
  /* background-color: saturate($bg-color, 15%); */
  /* background-color: desaturate($bg-color, 15%); */
  /* background-color: rgba($bg-color, 0.4); */
  $a: 1;

  @if $a>1 {
    background-color: red;
  } @else {
    background-color: green;
  }
}

h1,
p {
  color: $theme-color;
}

.content {
  ul {
    li {
      a {
        text-decoration: none;
      }
    }
  }

  .btn-1 {
    @include btn();
    box-shadow: 3px 3px 5px rgb(105, 105, 105);
  }

  .btn-2 {
    @include btn(black);
    background-color: red;
  }
}

.common {
  height: double(75px);
  width: (100% / 2);
}

.container {
  width: 100%;

  .left {
    float: left;
    background-color: red;
    @extend .common;
  }

  .right {
    float: right;
    background-color: green;
    @extend .common;
  }
}
