@import "colors";
@import "mixins";

@function double($a) {
  @return ($a * 2);
}

$map_name: (
  a: red,
  b: blue,
);

$map-one: (
  color1: blue,
  color2: red,
);

$map-two: (
  color3: yellow,
  color4: green,
);

$merged-map: map-merge(
  $map1: $map-one,
  $map2: $map-two,
);

h2 {
  color: map-get($map: $map_name, $key: a);
  background-color: map-get($map: $merged-map, $key: color3);

  @if map-has-key($map: $map_name, $key: a) {
    content: "map has the key a";
  } @else {
    content: "map does not have the key";
  }
}

body {
  /* background-color: darken($bg-color, 15%); */
  /* background-color: lighten($bg-color, 15%); */
  /* background-color: saturate($bg-color, 15%); */
  /* background-color: desaturate($bg-color, 15%); */
  /* background-color: rgba($bg-color, 0.4); */
  $a: 1;

  @if $a==1 and $a>0 {
    /* != -- not equal */
    /* $a==1 or $a>0 */
    background-color: blue;
  } @else {
    background-color: grey;
  }
}

h1,
p {
  color: $theme-color;
}

.content {
  ul {
    li {
      a {
        text-decoration: none;
      }
    }
  }

  .btn-1 {
    @include btn();
    box-shadow: 3px 3px 5px rgb(105, 105, 105);
  }

  .btn-2 {
    @include btn(black);
    background-color: red;
  }
}

.common {
  height: double(75px);
  width: (100% / 2);
}

.container {
  width: 100%;

  .left {
    float: left;
    background-color: red;
    @extend .common;
  }

  .right {
    float: right;
    background-color: green;
    @extend .common;
  }
}
